.button[type="button"] {
  color: #fff;
  font-weight: 900;
  min-width: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, #f64ff6, #71a9ed, #77f586);
  background-position: 100% 0;
  background-size: 200% 100%;
  border-radius: 4px;
  transition: background-position 0.5s ease-out;

  &:hover, &:focus {
    background-position: 0 0;
  }
}
