.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 5px solid;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-image-slice: 1;
  scroll-snap-align: start;
  > div {
    display: flex;
    flex-direction: column;
  }
  > div > *:not(:first-child) {
    margin-top: 16px;
  }
}
